.forgotPage {
	max-width: 500px;
	margin: auto;
	text-align: center;
	padding: 40px 40px 120px;
	min-height: calc(100vh - 65px);
	display: flex;
	align-items: center;
	justify-content: center;
	h2 {
		margin-bottom: 10px;
	}
}
