.helpCenter {
    padding: 100px 0;
    h1 {
        font-size: 36px;
        color: #307fc2;
        font-weight: "300";
        margin: 25px auto;
    }
    p {
        margin-bottom: 30px;
        color: #bebebe;
        font-size: 11px;
    }
    .textField {
        margin-bottom: 30px;
    }
}
