.genalColor {
	color: #449399;
}
.headingStyle {
	align-self: center;
	margin-left: 10px;
	text-transform: uppercase;
	line-height: 1;
}
.subHeadingStyle {
	margin-top: 10px;
	font-size: 16px;
}
.innerHeadingStyle {
	font-size: 24px;
}
.subInnerHeading {
	font-size: 16px;
}
.rightsideHeading {
	font-size: 14px;
	align-self: center;
	line-height: 1;
}
.skillSize {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 6px;
	margin: 0 5px 5px 0;
}
.rightsideSubHeading {
	font-size: 12px;
}
.interestStyle {
	border-color: #b2b2b2;
	font-size: 12px;
	border-radius: 6px;
	margin: 0 5px 5px 0;
	color: #fff;
	padding: 10px 0px;
}
